@model IEnumerable<hungpage2018.Models.test_text>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit/test_text/" + @item.id) |

            </td>
        </tr>
    }

</table>
